body {
    background: #111;
    font: 1em sans-serif;
    min-width:98%;
    min-height:98%;
    padding-left: 2%;
    padding-bottom: 0%;
    margin-top:0;
    overflow:hidden;
    display:inline-block;
}

div body #main{
    margin: 0 !important;
}

arch {
    position:relative;
    flex-direction:column;
}

img {
    width:150px;
    height:150px;
}

img.logo {
    margin-right: 0.5em;
    float: left;
}

span{
    width:100%;
}

p {
    color: #bbb;
    width:100%;
}

form input {
    display:block;
}

form {
    padding: 160px 0px 0 60px;
    width: 410px;
}

img:not([class=logo])
{
    margin-top:35px;
    margin-right:20px;
    float: right;
    width:120px;
    height:120px;
    background:#ffffff;
    border-radius:20px;
}

h1 {
    font: small-caps 2em sans-serif;
    padding-left: 110px;
    margin-left: 100px;
    margin:0;
    color: #bbb;
    width:100%;
    position:relative;
    vertical-align: baseline;
    top:0;
}

h2 {
    color: #FFCB05;
}
h3 {
    color: #ffffff;
}
a {
    color: #024792;
    text-decoration: none;
    text-align: right;
    position: relative;
    z-index: 3;
}

label, button {
    display:block;
    width: 100%;
    border: 0;
    font: small-caps 1em sans-serif;
    background: #333;
    margin: 2px 0;
    color: #bbb;
    background: #333;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em 1em;
}
button {
    padding: 0.9em 0.5em;
    width:100px;
}
button:hover, label:hover {
    background: #444;
    color: #eee;
}

input[type=checkbox] {
    display:inline;
}

#main #wide {
    position: absolute;
    float: left;
}

#main {
    height:100%;
    top:50px;
    box-sizing: border-box; 
    margin: 0 0 0 0;
    left:250px;
    right:510px;
    position:absolute;
    display:inline-block;
}

#wide {
    height:30%;
    width:96%;
    white-space: nowrap;
    box-sizing: border-box; 
    padding: 0 0 0 0;
    z-index:1;
    top:0;
    background:#111;
    flex:1;
    left: 30px;
}


#textcontainer {
    float:left;
    width:100%;
    top:195px;
    height:70%;
    z-index:1;
    text-overflow: ellipsis;
    overflow-y: hidden;
    position:absolute;
    border-top-style: solid;
    border-top-width: 40px;
    border-top-color: #024792;
    border-bottom-style: solid;
    border-bottom-width: 40px;
    border-bottom-color: #024792;
}

#maintext {
    float:left;
    position:relative;
    left:15px;
    top:0;
    right:0;
    bottom:0;
    width:97.5%;
    height:94%;
    overflow-y: auto;
    overflow-x:hidden;
    hyphens: auto;
}

#frillleft #frillright {
    position: absolute !important;
    background-color:#024792 !important;
    width:30px;
    height:100%;
    top: 0;
    left: 0;
}

#frillleft {
    padding-left:220px;    
    position: absolute !important;
    background-color:#024792 !important;
    width:30px;
    height:100%;
    top: 0;
    left: 0;
    z-index:1;
}

#frillright{
    padding-right:470px;
    position: absolute !important;
    background-color:#024792 !important;
    width:50px;
    height:100%;
    top: 0;
    right: 0;
    flex:1;
    z-index:1;
}

#bugsubmit {
    display:block;
    float:right;
    margin-right:50px;
    margin-top:20px;
}

#checkvalue {
    margin-left:20px;
    margin-top: 20px;
}

#checkvalue2 {
    font-size: 1.1em;
    display:inline;
}

#text {
    display:none;
}

.leftnav {
    background:#111;
    width:  210px;
    height:100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    flex:0;
}

.rightnav {
    top:0;
    background:#111;
    height:100%;
    z-index: 3;
    right:0;
    position: absolute;
    flex:2;
    overflow-y: scroll;
}

.dark {
    margin: 2em 1em 1.5em 1.5em;
    color: #ffffff;
}

.darkright {
    margin-top:70px;
    padding-right:20px;
    color: #ffffff;
    text-align:right;
    float:right;
    width: 200px;
    margin-right:50px;
}

textarea {
    border-radius: 5px;
    width: 100px;
    text-align:left;
    vertical-align:top;
    padding: 6px 240px 0 5px;
    background:#ffffff;
}

textarea#box1 {
    font-weight:bold;
    height:24px;
}

textarea#box3 {
    height:40px;
}

textarea#box2-2 {
    height:80px;
}

textarea#box2 {
    height:100px;
}