body {
    background: #111;
    font: 1em sans-serif;
    overflow:auto;
    width:100%;
    height:100%;
    position:fixed;
}

img {
    float: left;
    margin-right: 0.5em;
}
h1 {
    margin:0 !important;
    font: small-caps 4em sans-serif;
    padding-top: 0.3em;
    margin: 0.5em;
    color: #bbb;
}
a {
    color: #369;
    text-decoration: none;
    text-align: right;
}
section:hover a {
    color: #eee;
    text-decoration: underline;
}
p {
    clear: left;
    margin: 2em 1em 1.5em 1.5em;
    text-align: left;
    color: #666;
}
#domain {
    color: #eee;
}

label, button {
    display:block;
    width: 100%;
    border: 0;
    font: small-caps 1em sans-serif;
    background: #333;
    margin: 2px 0;
    color: #bbb;
    background: #333;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em 1em;
}
button {
    padding: 0.9em 0.5em;
}
button:hover:not([id=nosite]), label:hover {
    background: #444;
    color: #eee;
}

input[type=checkbox] {
    -moz-appearance: none;
    appearance: none;
    margin: 0 0 0 1em;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background: #111;
    vertical-align: middle;
    transition: all ease 0.2s;
}
input[type=checkbox]:before {
    content: "ON OFF";
    display: block;
    position: absolute;
    width: 22px;
    height: 22px;
    background: #bbb;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    font: bold 10px/22px sans-serif;
    text-indent: -22px;
    word-spacing: 34px;
    white-space: nowrap;
    transition: all ease 0.2s;
}
input[type=checkbox]:checked:before {
    left: 34px;
    color: #eee;
    background: #eee;
}
input[type=checkbox]:checked {
    background: #369;
}

.unknown #managed, .unknown label, 
.managed #unknown, .managed button, 
.hide {
    display: none;
}

.blocked:after {
    content: "first visited today, not trusted";
    color: #666;
}
.blocked.visited:after {
    content: "previously visited, not trusted yet";
    color: #999;
}
.unblocked:after {
    content: "trusted because visited regularly";
    color: yellow;
}

.manual.unblocked:after {
    content: "trusted by choice";
    color: yellow;
}
.manual.blocked:after {
    content: "blocked by choice";
    color: #369;
}

.sidenav {
    background:#111;
    height: 100%;
    width:  12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

span{
    padding-left:30px
}
.dark {
    clear: left;
    margin: 2em 1em 1.5em 1.5em;
    text-align: left;
    color: #bbb;
}


#frill{
    position: fixed !important;
    background-color:#024792 !important;
    padding-left:11%;
    width:40px;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
}
div body #main{
    margin: 0 !important;
    padding: 0 !important;
}
#main #wide {
    float:left;
    position:absolute;
    display:block;
    padding-left:0;
    width:82%;
    height:16%;
}

#main {
    padding: 1% 2% 2% 14%;
    width:82%;
    height:96%;
}