/*The section of css indented with two spaces was provided by W3
and can be found at:
https://www.w3schools.com/howto/howto_css_switch.asp

This code was modified from the original
And is used under the Refsnes Data terms of fair use 
in an educational environment.*/
body {
    -moz-user-select: none;
    user-select: none;
    background: #111;
}
button {
    display: block;
}
label, button{
    width: 16.85em;
    font: 1em sans-serif;
    border: 0;
    font: small-caps 100% sans-serif;
    background: #333;
    margin: 1px;
    color: #ccc;
    background: #333;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.5em;
}
label.switcher {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}
button:hover, label:hover {
    background: #444;
    color: #fff;
}

input[type=checkbox] {
    -moz-appearance: none;
    appearance: none;
    margin: 1em 0.2em 1em 0em;
    width: 62px;
    height: 32px;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    background: #111;
    vertical-align: middle;
    transition: all ease 0.2s;
}

input[type=checkbox]:before {
    content: "ON OFF";
    display: block;
    position: absolute;
    /* z-index: 2; */
    width: 22px;
    height: 22px;
    background: #ccc;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    font: bold 10px/22px sans-serif;
    text-indent: -22px;
    word-spacing: 34px;
    white-space: nowrap;
    transition: all ease 0.2s;
}

input[type=checkbox]:checked:before {
    left: 34px;
    color: #fff;
    background: #fff;
}
button:hover:not(#indicator) {
    background: #369;
}
input[type=checkbox]:checked {
    background: #369;
}

p {
    margin: 0;
    color: #ccc;
    font: small-caps 85% sans-serif;
    text-align: center;
}

a.alink {
    color: #369;
    font: small-caps 105% sans-serif;
    text-align: center;
    width:100%;
}

label {
    display: inline;
}

#checktrust {
    visibility: hidden;
}

#gcmtext {
    text-align: center;
}